:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;

  /* Others */
  --btn-radius: 25px;
  --indent: 30px;
  --items: 4;

  --idx-header: 100;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: normal;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* reset end */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid red; */
  outline-offset: -2px;
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--main-txt-cl);
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}

.uppertitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;

  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  position: relative;
  max-width: 250px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: var(--btn-radius);
  cursor: pointer;
  overflow: hidden;
}

.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

/**
  |============================
  | Header
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--idx-header);

  width: 100%;

  /* background-color: var(--dark-bg-cl); */
}

.header.no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  backdrop-filter: blur(4px);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 132px;
}

.header-logo {
  fill: var(--main-txt-cl);
}

.header.no-transparency .header-logo {
  fill: var(--light-txt-cl);
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-nav-link,
.header-contact {
  display: block;
  padding: 52px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

.header-nav-link {
  position: relative;
}

.header-nav-link.current {
  color: var(--accent-txt-cl);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 5%;

  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-bg-cl);
  opacity: 0;
}

.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
}

.header-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header-contact {
  margin-right: 40px;
}
/**
  |============================
  | Hero
  |============================
*/
.hero-container {
  position: relative;
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.hero-right-side {
  padding: 272px 0 208px 100px;
  flex-grow: 1;

  background-color: #191c26;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/slider-img.jpg);
  background-size: cover;
  background-position: center;
}

.hero-undertitle {
  width: 360px;
  margin: 0;
}

.media-list {
  display: flex;
  display: none;
  align-items: center;
  gap: 40px;
}

.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--main-txt-cl);
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.slider-pagination {
  position: absolute;
  top: 50%;
  right: 35px;
}
.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;

  background-color: var(--grey-cl);
}

.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: var(--light-txt-cl);
}

.slider-controls {
  position: absolute;
  right: 35px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.slider-btn {
  min-width: 60px;
  min-height: 24px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-align: right;
  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-txt-cl);

  cursor: pointer;
}

.slider-btn.disable {
  text-align-last: left;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  cursor: not-allowed;
}

/**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  gap: 30px;

  margin-right: 30px;
}

.about-right-side {
  width: 470px;
}

.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

/**
  |============================
  | Price
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #111319;
  background-image: url(../images/price/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price-block {
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;
}

.price-list:first-child {
  background-image: linear-gradient(180deg, rgb(23, 26, 36) 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  align-items: baseline;

  color: var(--grey-cl);
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-service {
  order: -1;
}

.price-btn {
  display: block;
  margin: 0 auto;
}

/**
  |============================
  | Benefits
  |============================
*/
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--main-txt-cl);
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-txt-cl);
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: var(--main-txt-cl);
}
/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.team-wrapper {
  padding: 30px 10px 0;
}

.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--main-txt-cl);
  background-color: var(--light-txt-cl);
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-txt-cl);
  /* background-color: lightblue; */
}

.socials-icon {
  fill: currentColor;
}

/* .socials-icon {
  fill: lightblue;
}

.socials-link:hover .socials-icon {
  fill: darkgreen;
} */

/**
  |============================
  | Gallery
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.gallery-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/contacts/contacs-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left calc(50% + 423px) center;
}

.contatcs-group-container {
  display: flex;
  gap: 30px;
}

.booking {
  flex-basis: 570px;
}

.booking-form {
  opacity: 0;
}
/**
  |============================
  | Contatcs
  |============================
*/
.contacts {
  flex-basis: 570px;
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-link {
  display: flex;
  align-items: center;

  color: var(--grey-cl);
}

.contacts-icon {
  margin-right: 16px;
  stroke: var(--grey-cl);
  fill: transparent;
}

.contacts-icon-top {
  align-self: baseline;
}

.contacts-uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-uppertitle::before {
  content: '';

  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-media-link {
  padding-top: 56px;
  padding-bottom: 56px;
}
