.benefits {
  @extend %section;
}
.benefits-container {
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
  }

  @include mq(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.benefits-top {
  max-width: 500px;

  @include mq(desktop, max) {
    margin-bottom: 44px;
  }

  .undertitle {
    margin-bottom: 0;
  }
}
.benefits-bottom {
  max-width: 450px;

  @include mq(tablet) {
    align-self: flex-end;
  }

  @include mq(desktop) {
    max-width: 370px;
    margin-right: 120px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include mq(phone, max) {
    justify-content: center;
    gap: 30px;
  }
}
.benefits-item {
  width: 193px;
  min-height: 133px;
  padding: 20px 32px;

  background-color: #f7f7f7;
  text-align: center;

  @include mq(tablet) {
    width: 210px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(desktop) {
    width: 170px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &:nth-child(2n) {
    @include mq(phone) {
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}
.benefits-quantity {
  @include fonts(42px, 57px, 700, 0.05em);
  position: relative;
  display: inline-block;

  color: var(--main-txt-cl);

  &:after {
    content: '\002B';
    position: absolute;
    top: 6px;
    right: -15px;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);

    color: var(--accent-txt-cl);
  }
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: var(--main-txt-cl);
}
